// breathing page layout
#btn-b {
  border-radius: 30px;
  width: 70px;
  padding: 10px;
  font-size: 24px;
  font-family: 'Neucha', cursive;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 75%;
  margin-left: -35px;
}

#dot {
  // background: #9befe2;
  background: #8Fb1cc;
  border-radius: 50%;
  height:80px;
  width:80px;
  top:50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  animation: growcircle 10s infinite;
  animation-play-state: paused;
  position: absolute;
  transform: scale(0.1);
  display: none;

}

#dot.play {
  animation-play-state: running;
  display: block;
}

#breathein {
	color: #ADC3D1;
	text-align: center;
	animation:  inhale 10s steps(1,start) infinite;
  animation-play-state: paused;
  display: none;
  font-size: 64px;
  font-family:  'Sriracha', cursive;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -90px;
}
#breathein.play2 {
  animation-play-state: running;
  display: block;
}

#breatheout {
	color: #ADC3D1;
	text-align: center;
	animation:  exhale 10s steps(1,start) infinite;
  animation-play-state: paused;
  display: none;
  font-family:  'Sriracha', cursive;
  font-size: 64px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -90px;
}
#breatheout.play3 {
  animation-play-state: running;
  display: block;
}

@keyframes growcircle {
  from {
      transform: scale(0.1);
    }
  50% {
    transform: scale(5);
    }
  to {
      transform: scale(0.1);
    }
}

@keyframes inhale {
	from {
		visibility: hidden;
	}
	50% {
		visibility: visible;
	}
	to {
		visibility: hidden;
	}
}

@keyframes exhale {
	from {
		visibility: visible;
	}
	50% {
		visibility: hidden;
	}
	to {
		visibility: visible;
	}
}
