.container-map {
  margin: 0, auto;
  padding: 40px, 40px;
  }

.geocoder {
  position: absolute;
  z-index: 1;
  width: 70%;
  left: 73%;
  margin-left: -25%;
  top: 100px;
  }
  .mapboxgl-ctrl-geocoder {
  min-width: 100%;
  }
  #map {
  position: absolute;
  margin-top: 120px;
  margin-left: 50%;
  top: 0;
  bottom: 0;
  width: 50%;
  }

.marker {
  background-image: url('map_mark.png');
  background-size: cover;
  border-radius: 50%;
  background-color: white;
  width: 60px;
  height: 60px;
  border: 3px solid green;
  cursor: pointer;
  }

.mapboxgl-popup {
max-width: 200px;
}
.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}
