// Specific CSS for your home-page
.container-faces {
  margin: 0, auto;
  width: 50%;
	margin-left: 50%;
  margin-left: 280px;
  padding-left: 70px;
}

.info {
	text-align: center;
}

.info h1 {
	font-family: 'Neucha', cursive;
	font-weight: bolder;
	font-size: 60px;
  padding-top: 150px;
}
.info h3 {
  font-family: 'Neucha', cursive;
	font-weight: bolder;
	font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.info h5{
	font-family: 'Overpass', sans-serif;
}

.faces {
	display:  grid;
	text-decoration: none;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
}

.face {
	cursor: pointer;
	border:  none;
	border-radius:  50%;
}

.fa-face-smile {
	font-size: 170px;
	border-radius: 50%;
	opacity: 0.9;
	color: green;
	margin: 8px;
  padding-top: 20px;
}

.fa-face-meh {
	font-size: 170px;
  border-radius: 50%;
	opacity: 0.9;
	color:  orange;
  padding-top: 20px;
  padding-bottom: 25px;
}

.fa-face-frown {
	font-size: 170px;
	border-radius: 50%;
	opacity: 0.9;
	color:  red;
  // padding-top: 10px;
}



@media (min-width: 1200px) {
 .container-faces {
    max-width: 600px;
 }
}

@media (min-width: 992px) {
  .container-faces {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .container-faces {
    max-width: 400px;
  }
}

@media (min-width: 576px) {
  .container-faces {
    max-width: 300px;
  }
}
