#canvas {
  border: 15px ridge #759CC9;
  margin: 10px auto;
  cursor: url('paint.png'), auto;
  background: white;
  border-radius: 20px;
  position: relative;
  left: 47;
  top: 0;
}

.container-scribble {
  width: 815px;
  margin: 0 auto;
  text-align: center;
  padding: 55px;
}

#color {
  width: 50px;
  height: 50px;
  padding: 6px;
  border-radius: 50%;
  background-color: #838383;
  margin-right: 220px;
}

#clear {
  // border: 5px solid blue;
  width: 150px;
  margin-top: 45px;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  border: 2px solid black;
  font-size: 35px;
  color: #838383;
  font-family: 'Neucha', cursive;
  box-shadow: 1px 2px 1px 2px #8FB1cc;
}

#clear:active {
  background: #759CC9;
  transition: ease 0.3s;
}

label {
  font-size: 20px;
}
