#canvas {
  border: 15px ridge grey;
  margin: 30px auto; cursor:crosshair;
  background: white;
  border-radius: 20px;
}

#wrapper {
  width: 850px;
  margin: 0 auto;
  text-align: center;
}

#buttons {
  border: 5px solid yellow;
  width: 50px;
}
