#quote {
  text-align: center;
  text-decoration: none;
  color: #838383;
  background-color: white;
  border: 2px solid #759CC9;
  border-radius: 20px;
  font-family: 'Sriracha', sans-serif;
  margin: 0, auto;
  padding: 10px;
  font-size: 20px;
}

.container_tiles {
  margin: 0, auto;
  padding: 20px;
  background: #eeecf1;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  padding: 20px;

}

.each_card {
  box-shadow: 1px 1px 2px 1px #EEECF1;
  padding: 5px;
  width: 400px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: white;
  border-radius: 75px;
  font-family: 'Sriracha', cursive;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  border: 2px solid #759CC9;
  transition: 1s box-shadow;
  cursor: pointer;
  z-index: 1;
}

.each_card:hover {
  box-shadow: 5px 10px 40px 5px rgba(0,0,0,.1);
}

.each_card:hover::before, .each_card:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 405px;
  height: 305px;
  background: #8FB1CC;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.each_card:hover:after {
  background: #AEAEAE;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}



.tile_title {
  font-family: "Sriracha", cursive;
  text-align: center;
  padding: 10px;
  color: #838383;
}

.tile-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  font-size: 150px;
  text-decoration: none;
  padding: 30px;
}
a {
  text-decoration: none !important;
  color: #759CC9;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr fr;
  }
}
