.container-video {
  margin: 0, auto;
  width: 100%;
  padding: 24px;
}

.container-video h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

iframe {
  padding-top: -10px;
  margin: 0, auto;
  display: block;
}

.carousel-control.prev {
  place-self: center left;
}

.carousel-control.next {
  place-self: center right;
}

.carousel-indicators {
  bottom: -95px;
  width: auto;
  background-color: #759cc9;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1);
}
