.container-goals {
  margin: 0, auto;
  padding: 40px;
  margin-top: 20px;
  overflow: scroll;
}

.section {
  padding: 30px;
  border: 2px solid #759CC9;
  margin-bottom: 40px;
  background: white;
  font-family: 'Neucha', sans-serif;
  border-radius: 10px;
  width: 100%;
}

h5 {
  font-family: 'Sriracha', sans-serif;
  text-decoration: underline;
  text-align: center;
}

.input-goal {
  flex: auto;
}

#submit-button-id {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
  color: #838383;
  font-family: 'Neucha', cursive;
  box-shadow: 1px 1px 1px 1px #8FB1cc;
}

#submit-button-id:active {
  background: #759CC9;
  transition: ease 0.3s;
}

.form-control {
  border: 2px solid #759cc9;
  border-radius: 10px;
}
