.container-goals {
  margin: 0, auto;
  padding: 40px;
  margin-top: 20px;
  overflow: scroll;
}

.section {
  padding: 30px;
  border: 2px solid #759CC9;
  margin-bottom: 40px;
  background: white;
  font-family: 'Neucha', sans-serif;
  border-radius: 10px;
  width: 100%;
}

.container-edit-goals h1 {
  padding-bottom:  20px;
}

h5 {
  font-family: 'Sriracha', sans-serif;
  text-decoration: underline;
  text-align: center;
}

#submit-button-id {
  padding: 7px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
  color: #838383;
  font-family: 'Neucha', cursive;
  box-shadow: 1px 1px 1px 1px #8FB1cc;
  margin-bottom: 40px;
  margin-top: 10px;
}

#submit-button-id:active {
  background: #759CC9;
  transition: ease 0.3s;
}

.form-control {
  border: 3px solid #759cc9;
  background: #eeecf1;
  color: black;
  border-radius: 10px;
  margin-top: 10px;
}

.goalcat {
  border: 3px solid #759cc9;
  background: #eeecf1;
  color: black;
}

.input-goal {
  width: 100%;
  display: inline-block;
  // flex-direction: row;
  // justify-content: center;
}

.goalbtn {
  display: flex;
  align-items: right;;
}


.editgoals {
  display: inline-block;
  justify-items: right;
  // border: 1px solid #759cc9;
  color: #949494;
  margin-right: 5px;
  height: 12px;

}
