  <div class="container">
    <div class="container-breathe cards" data-controller="breathing">
      <button data-action="click->breathing#start_breath" data-breathing-target="stop" class="each_card">Start</button>  <%# start animation %>
      <div id="dot" data-breathing-target="breathe" class="each_card"></div> <%# dot animation %>
      <div id="breathein" data-breathing-target="inhale" class="each_card">Inhale</div>  <%# inhale word animation %>
      <div id="breatheout" data-breathing-target="exhale" class="each_card">Exhale</div> <%# exhale word animation %>
    </div>
  </div>
