  <div class="container-breathe" data-controller="breathing">
    <button data-action="click->breathing#start_breath" data-breathing-target="stop">Start</button>  <%# start animation %>
    <div id="dot" data-breathing-target="breathe"></div> <%# dot animation %>
    <div id="breathein" data-breathing-target="inhale">Inhale</div>  <%# inhale word animation %>
    <div id="breatheout" data-breathing-target="exhale">Exhale</div> <%# exhale word animation %>
  </div>
