  <div class="container-breathe" data-controller="breathing">
    <button data-action="click->breathing#start_breath" data-breathing-target="stop">Start</button>
    <div id="dot" data-breathing-target="breathe"></div>
    <div id="breathein" data-breathing-target="inhale">Inhale</div>
    <div id="breatheout" data-breathing-target="exhale">Exhale</div>
  </div>
