<h1>ChatAPI</h1>

<ul>

<%# <p>Question 1: Have you drunk any water today?</p>
  <form action="/tiles/chat" method="get" data-turbo="false">
    <input type="text" name="answer" value: params[:ans] placeholder="Answer Y/N" >
    <input type="submit" value="Enter">
  </form>
  <p><%= params[:ans] %></p>
 <%# <p>Answer: <%= @question1 %>
