<div class="container-faces">
  <div class="info">
    <h1>R U OK?</h1>
    <h3><%="Hello #{current_user.first_name}"%></h3>
    <p>Click on the face that matches how you feel</p>
  </div>
  <div class="faces">
    <div class="face">
      <%# <a type="button" class="btn" target="_self" href="/tiles"><i class="fa-regular fa-face-smile"></i></a> %>
      <%= link_to '<i class="fa-regular fa-face-smile"></i>'.html_safe, emotions_path(emotion: {feeling: "happy"}), data: {turbo_method: "POST"}%>
    </div>
    <div class="face">
      <%= link_to '<i class="fa-regular fa-face-meh"></i>'.html_safe, emotions_path(emotion: {feeling: "meh"}), data: {turbo_method: "POST"} %>
      <%# <a type="button" class="btn" target="_self" href="#"><i class="fa-regular fa-face-meh"></i></a> %>
    </div>
    <div class="face">
      <%= link_to '<i class="fa-regular fa-face-frown"></i>'.html_safe, emotions_path(emotion: {feeling: "sad"}), data: {turbo_method: "POST"} %>
      <%# <a type="button" class="btn" target="_self" href="#"><i class="fa-regular fa-face-frown"></i></a> %>
    </div>
  </div>
</div>
