 <div class="container">
  <div class="row justify-content-center">
    <div class="col-6" data-controller="exercise">
      <%= form_with url: tiles_exercise_path, method: :get, class: "d-flex", data: { action: "submit->exercise#geocode" } do %>
          <%= text_field_tag :address,
            params["address"],
            class: "form-control",
            placeholder: "Type an address",
            "data-exercise-target": "input",
            :value => "stewart street, richmond, australia"
            %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

      <%= params[:address] %>

      <p class="font-monospace lead text-center fw-bold" data-exercise-target="coords">
        <!-- Display the coordinates here -->
      </p>

       <div id="map">
          <!-- Display the map in this div -->
        </div>
      </div>
    </div>
</div>
