<div class="container-scribble">
  <h1 class='titles'>Scribble</h1>
  <canvas id="canvas">Canvas not Supported</canvas>
  <div id="buttons">
    <input type="color" id="color" value="#ff0000">
    <input type="range" id="line-width" name="line-width" min="1" max="30">
  </div>
  <input type="button" id="save" value="Save">
  <input type="button" id="load" value="Load">
  <input type="button" id="clear" value="Clear">
</div>
