<h1>Testing Page</h1>
<div id = "wrapper" >
	<canvas id="canvas" width="500" height="400">Canvas not Supported</canvas>

    <div id="buttons" >
    	<input type="color" id="color" value="Color">
    </div>

  <%= javascript_include_tag "scribble.js" %>
  <%# added javascript folder in assets, added the file scribble.js, in assets/config/manifest //= link scribble.js %>

</div>
