<%= render "shared/navbar" %>
<div class="container-video">
  <h1>Videos</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="embed-responsive embed-resonse-16by9">
          <iframe width="763" height="572" src="https://www.youtube.com/embed/XiCrniLQGYc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="d-block w-100"></iframe>
        </div>
      </div>
      <div class="carousel-item">
        <div class="embed-responsive embed-resonse-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2xp22IYL2uU" allowfullscreen class="d-block w-100"></iframe>
        </div>
      </div>
      <div class="carousel-item">
        <div class="embed-responsive embed-resonse-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gGuZVuUBeiQ" allowfullscreen class="d-block w-100"></iframe>
        </div>
      </div>
      <div class="carousel-item">
        <div class="embed-responsive embed-resonse-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sbtQp7C1MDs" allowfullscreen class="d-block w-100"></iframe>
        </div>
      </div>
      <div class="carousel-item">
        <div class="embed-responsive embed-resonse-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M6ZjMWLqJvM" allowfullscreen class="d-block w-100"></iframe>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>





<%#
<h1>Videos</h1>
<div class="container-videos">
  <div class="video">
    <iframe width="763" height="572" src="https://www.youtube.com/embed/XiCrniLQGYc" title="I had a black dog, his name was depression" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video">
    <iframe width="827" height="465" src="https://www.youtube.com/embed/2xp22IYL2uU" title="In Between -  Animation Short Film 2012 - GOBELINS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video">
    <iframe width="827" height="465" src="https://www.youtube.com/embed/gGuZVuUBeiQ" title="Overcoming Bad Inner Voices" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video">
    <iframe width="827" height="465" src="https://www.youtube.com/embed/sbtQp7C1MDs" title="Anxiety is the Greatest! (jk it can go jump off a microwave)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video">
    <iframe width="827" height="465" src="https://www.youtube.com/embed/M6ZjMWLqJvM" title="The Last Knit" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div> %>
