<div class="container-entry">
  <h2>Edit Entry</h2>
  <div class="tabs">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">Notepad</label>
      <div class="tab-content">
       <%= render "post", post: @post %>
      </div>
    </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch" onClick="lets_draw()">
        <label for="tab-2" class="tab-label">Scribble</label>
        <div class="tab-content">
          <div id = "wrapper">
            <p><%= "Date: #{params[:date]}" %></p>
            <canvas id="canvas">Canvas not Supported</canvas>
            <div id="buttons">
              <input type="color" id="color" value="#ff0000">
              <%# <input type="number" id="line-width" min="1" max="30"> %>
              <input type="range" id="line-width" name="line-width" min="1" max="30">
            </div>
            <input type="button" id="save" value="Save">
            <input type="button" id="load" value="Load">
            <input type="button" id="clear" value="Clear">
          </div>
        </div>
      </div>
    </div>
  </div>
  <p><%= link_to "Back", posts_path(date: params[:date]) %></p>
</div>
