<%= render "navbar5" %>
<div class="container-entry">
  <div class="tabs">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">Notepad</label>
      <div class="tab-content">
       <%= render "post", post: @post %>
      </div>
    </div>
  </div>
</div>
