.navbar-lewagon {
  justify-content: space-between;
  background: #adc3d1;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}
.container-fluid {
  height: 60px;
}

.nav-icons {
  font-size: 40px;
  color: #4475ae;
  padding: 10px;
}

a {
  text-decoration: none !important;
  color: #4475ae;
}

.dropdown-menu{
  position: static;
  overflow: hidden;
  z-index: 2;
}
