#canvas {
  border: 15px ridge grey;
  margin: -10px auto;
  cursor: url('paint.png'), auto;
  background: white;
  border-radius: 20px;
  position: relative;
  left: 0;
  top: 0;
}

#wrapper {
  width: 850px;
  margin: 0 auto;
  text-align: center;
}

#buttons {
  // border: 5px solid blue;
  width: 50px;
}
